body{
    margin: 0px;
    background-color:#043b41;
    border: solid white 0.7rem;
}

.main_container{
   
    color: white;
    /* height: 100vh;
    width: 100vw; */
}

.main_container, .input_container,.task_container{

    /* border: 1px solid white; */
}
.input_container{
    height: 20vh;
}
.task_input{
   height: 10vh;
   width: 30vw;
   margin-left: 35vw;
   margin-top: 4.5vh;
   text-align: center;
   font-size: 2rem;
   border:  solid gray thick;
   background-color: honeydew(205, 225, 226, 0.967);
  border-radius: 20%;
}
.task_input:hover{
    background-color: gray;
    border:honeydew solid;
    
}
.task_container{
    height: 80vh;
    text-align: center;
    
}
.task_container ul li{
font-size: 1.8rem;
margin-bottom: 1.5rem;
margin-left: -2rem;
list-style: none;
cursor: pointer;
text-transform: uppercase;
}
.task_container ul li:hover{
    color: red;
    font-size: larger;
}
 
.Heading{
    color: white;
   text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-decoration: underline;

}
.Heading:hover{
    color: indianred;
}